$c_grrr: #333333;
$c_cray: #eeeeee;
$c_satan: #666666;
$c_inverted_satan: #999999;
$c_trendy: #64c4db;
$c_trendy_alt: #59b0c4;

@mixin shadow($args) {
    box-shadow: $args;
    -moz-box-shadow: $args;
    -webkit-box-shadow: $args;
}

@mixin transition($args) {
    transition: $args;
    -webkit-transition: $args;
    -moz-transition: $args;
}

// Reset
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

// Global rules
body {
    font-family: 'Josefin Sans Std Light', arial, serif;
    background-color: $c_trendy_alt;
    color: $c_grrr;
}

a, a:visited {
    color: inherit;
    opacity: 0.9;
    border-bottom: 1px dotted white;
    text-decoration: none;
    font-size: 1.2em;
    @include transition(opacity 0.2s)
}

a:hover {
    opacity: 1;
    border-style: solid;
}


.cell {
    width: 640px;
    margin: 0 auto;
}

// Section rules
#subtitle {
    margin: 10px auto;
    background-color: $c_trendy_alt;

    .cell {
        text-align: right;
        color: white;
    }
}

#header {
    padding-top: 20px;
    background-color: $c_cray;
    
    .cell {
        text-align: center;
    }

    h1 {
        display: inline;
        font-size: 128px;
        padding-left: 10px;
    }
    
    img {
        border-right: 1px dotted $c_inverted_satan;
        padding: 0 25px;
        margin-bottom: -5px;
    }
}


#content {
    background-color: $c_trendy;
    color: $c_cray;
    font-size: 58px;

    ul, p {
        padding: 30px 0;
    }

    ul {
        list-style: none;

        li {
            line-height: 1.2;
        }
    }
}

#footer {
    background-color: $c_trendy_alt;
    background-image: url('../img/bg_shadow.png');
    background-repeat: repeat-x;
    padding: 25px 0px 20px;
    font-family: sans-serif;
    font-size: 0.8em;

    a, a:visited {
        border-bottom: 1px dotted $c_grrr;
    }
    a:hover {
        border-bottom: 1px solid $c_grrr;
    }

    .cell {
        text-align: right;
    }

    .little_kevin {
        font-size: 0.8em;
    }
}
