* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Josefin Sans Std Light', arial, serif;
  background-color: #59b0c4;
  color: #333333; }

a, a:visited {
  color: inherit;
  opacity: 0.9;
  border-bottom: 1px dotted white;
  text-decoration: none;
  font-size: 1.2em;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s; }

a:hover {
  opacity: 1;
  border-style: solid; }

.cell {
  width: 640px;
  margin: 0 auto; }

#subtitle {
  margin: 10px auto;
  background-color: #59b0c4; }
  #subtitle .cell {
    text-align: right;
    color: white; }

#header {
  padding-top: 20px;
  background-color: #eeeeee; }
  #header .cell {
    text-align: center; }
  #header h1 {
    display: inline;
    font-size: 128px;
    padding-left: 10px; }
  #header img {
    border-right: 1px dotted #999999;
    padding: 0 25px;
    margin-bottom: -5px; }

#content {
  background-color: #64c4db;
  color: #eeeeee;
  font-size: 58px; }
  #content ul, #content p {
    padding: 30px 0; }
  #content ul {
    list-style: none; }
    #content ul li {
      line-height: 1.2; }

#footer {
  background-color: #59b0c4;
  background-image: url("../img/bg_shadow.png");
  background-repeat: repeat-x;
  padding: 25px 0px 20px;
  font-family: sans-serif;
  font-size: 0.8em; }
  #footer a, #footer a:visited {
    border-bottom: 1px dotted #333333; }
  #footer a:hover {
    border-bottom: 1px solid #333333; }
  #footer .cell {
    text-align: right; }
  #footer .little_kevin {
    font-size: 0.8em; }
