* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Lato', arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  background: url('../img/bg.png') repeat-y #ffffff;
  color: #444444; }

a, a:visited {
  color: #4e99c8;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s; }

a:hover {
  color: #3964aa;
  border-style: solid; }

.left {
  width: 280px;
  float: left; }

.left img {
  margin-top: 108px;
  margin-left: 220px; }

.tweet {
  margin-left: 80px;
  margin-top: 12px;
  padding-right: 20px;

  text-align: right;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #888888; }


.right {
  margin-left: 280px;
  padding-left: 48px; }

.header {
  margin-top: 28px;
  margin-bottom: 48px;
  position: relative; }

h1 {
  position: absolute;
  top: 80px;
  left: 180px;

  font-weight: 400;
  font-size: 34px; }


.bio p {
  width: 480px;
  padding-left: 6px;
  margin-bottom: 44px;
  line-height: 36px; }
